body, #board, #board div {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    text-align: center;
    color:brown;
}

#board {
    width: calc(50px * var(--columns)); /* 50px is the width of each tile including border */
    height: calc(50px * var(--rows)); /* 50px is the height of each tile including border */
    border: 5px solid brown;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    box-sizing: border-box;
    width: calc(100% / var(--columns));
    height: calc(100% / var(--rows));
    border: 1px solid whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
}

.tile-clicked {
    background-color: darkgrey;
}

#difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}

.end-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-top: 20%;
}

.end-screen h2 {
    font-size: 3em;
}

.end-screen button {
    font-size: 2em;
    padding: 10px;
}
